<nav class="navbar navbar-light bg-light mb-3 d-flex justify-content-start">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Chistes</a>
    <a class="navbar-brand" href="/new">Añade tu chiste</a>
  </div>
</nav>